<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_title">
    <i class="fas fa-leaf fa-lg"></i>
      <%= form.label :title %>
      <%= form.text_field :title %>
  </div>
  <div class="blog_title">
    <i class="far fa-comment-dots fa-lg"></i>
      <%= form.label :content %>
      <%= form.text_field :content %>
  </div>
  <%= image_tag @blog.image.url %>
  <br>
  <label>
    <i class="fas fa-image fa-2x"></i>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
  </label>
  <br>
  <%= button_tag type: "submit", class: "submit-btn", title: "Submit" do %>
    <i class="fas fa-paper-plane"></i>
  <% end %>
<% end %>
<br>
<%= link_to blogs_path, title: "back" do %>
  <i class="fas fa-backspace fa-2x"></i>
<% end %>
