<div class="container">
<h2>投稿詳細</h2>
<p><i class="fas fa-leaf fa-lg"></i>Title: <%= @blog.title %></p>
<p><i class="far fa-comment-dots fa-lg"></i>Content: <%= @blog.content %></p>

<p id="notice"><%= notice %></p>
<p><i class="fas fa-image fa-lg"></i>Image: <%= image_tag @blog.image.url %></p>
<%= link_to edit_blog_path(@blog), title:"edit" do %>
  <i class="far fa-edit fa-lg"></i>
<% end %>|
<%= link_to blogs_path, title:"back to top" do %>
  <i class="fas fa-undo fa-lg"></i>
<% end %>
<% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
</div>
